
.player-pic{
	height: 150px;
}

}

.player{
	height: 150px;
}

.opponent{
	height: 150px;
}

.gameplay{
	height: 200px;
}

.first-row{
	height: 200px;
}

.second-row{
	height: 200px;
}

#info-box{
	border: 1px solid black;
}

