
.player-pic{
	height: 150px;
}

}

.player{
	height: 150px;
}

.opponent{
	height: 150px;
}

.gameplay{
	height: 300px;
}

.first-row{
	height: 200px;
}

.second-row{
	height: 300px;
}

#info-box{
	height: 300px;
}

.btn{
	display: block;
	margin: 0 auto;
}

